.section-contact {
  background-image: radial-gradient(farthest-corner at 40px 40px,rgba(62, 255, 245, 0.521) 0,
  rgba(252, 255, 81, 0.281) 100%) ,url(../Pages/Images/Abstract\ Mountain.webp);
  background-size: 200% 120%;
  background-position: left 50%;
  background-repeat: no-repeat;
  height: 240px;
}

.contact {
  padding: 35px;
}

.contact-spread {
  display: inline-flex;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 70px;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1000px) {
  .contact-info {
    margin: 10px 30px;
  }
}

@media only screen and (max-width: 600px) {
  .contact-info {
    margin: 10px 10px;
  }
}

.contact-info a {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 82, 111);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info a:hover .tooltip {
  font-size: 18px;
  top: -55px;
  opacity: 1;
}

.contact-info a:hover i {
  color: #ffffff;
}

.contact-info a:hover {
  background-color: #ec2773;
}

.contact-info i {
  font-size: 25px;
  color: #ddebdd;
}

.contact-info .tooltip {
  top: 0;
  position: relative;
  text-align: center;
  font-size: 5px;
  color: #ffffff;
  background-color: inherit;
  padding: 5px 8px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  text-decoration: none;
  transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
}

.contact-info .tooltip::before {
  position: absolute;
  content: "";
  bottom: -3px;
  opacity: 1;
  padding: 3px;
  align-items: center;
  right: 45%;
  rotate: 45deg;
  background-color: inherit;
}

.contact-hover {
  position: absolute;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.contact-hover {
  position: absolute;
}

#email:hover {
  background: #00a1f1;
}

#discord:hover {
  background: #7289da
}

#linked-in:hover {
  background: #0077b5;
}

#github:hover {
  background: #333;
}

#instagram:hover {
  /* code copied from https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09533 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#instagram .tooltip {
  background-color: #f32d4b;
}