body {
  /* background-image:url('https://media.blogto.com/articles/20210622-torontosunset1.jpg?w=2048&cmd=resize_then_crop&height=1365&quality=70'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: azure;
}

table {
  width: 100%;
}

div {
  display: block;
}

.main {
  /* padding: 20px; */
}

.introduction {
  background-image: radial-gradient(farthest-corner at 40px 40px,
      #f35 0%, #43e 100%);
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
  font-family: "Quicksand",sans-serif;
  background-size: cover;
  margin-top: 50px;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.working {
  padding: 20px;
  background-color: rgb(231, 255, 247);
  border-radius: 25px;
}

.background-photo {
  width: 100%;
}

.summary {
  position: relative;
  top: 20%;
  padding: 5%;
}

.profile {
  width: 100%;
  border-radius: 25px;
}

.introText {
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(250, 199, 190);
}

.connectHeader {
  padding: 20px;
  padding-top: 80px;
}

.connect {
  padding: 20px;
  padding-bottom: 1000px;
  background-color: blueviolet;
  border-radius: 25px;
}