body {
  /* background-image:url('https://media.blogto.com/articles/20210622-torontosunset1.jpg?w=2048&cmd=resize_then_crop&height=1365&quality=70'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: azure;
}

table {
  width: 100%;
}

div {
  display: block;
}

.main {
  /* padding: 20px; */
}

.section-welcome {
  background-image: radial-gradient(farthest-corner at 40px 40px,
      #f35 0%, #43e 100%);
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-about-me {
  background-image: radial-gradient(farthest-corner at 40px 95%,
      #f35 0%, #43e 100%);
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.section-projects {
  background-image: radial-gradient(farthest-corner at 40px 40px,
      #f35 0%, #43e 100%);
  background-size: cover;
  height: 90vh;
}

.section-experience {
  background-image: radial-gradient(farthest-corner at 40px 95%,
      #f35 0%, #43e 100%);
  background-size: cover;
  height: 70vh;
}

.about-me {
  width: 90%;
}

.introduction {
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction h1 {
  font-size: 3.5em;
}

.introduction h5 {
  display: block;
  font-size: 1.8em;
  font-weight: 500;
  font-family: "Quicksand",sans-serif;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.summary {
  display: flex;
  flex-direction: row;
}

.sum {
  position: relative;
  top: 20%;
  padding: 5%;
}

.photo {
  display: flex;
  height: 55vh;
  width: 70%;
  justify-content: left;
  border-radius: 25px;
}

.photo #profile {
  offset: top 50px;
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  padding: 5px;
  background: #43e;
}

.my-info-background {
  padding: 5px;
  background-color: #43e;
  border-radius: 25px;
  width: 100%;
}

.my-info {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  border-radius: inherit;
  padding: 15px;
  background-color: rgba(255, 246, 254, 0.945);
  display: flex;
  flex-direction: row;
  text-align: left;
}

.first {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.second {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.introText {
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(250, 199, 190);
}


.working {
  padding: 20px;
  background-color: rgb(231, 255, 247);
  border-radius: 25px;
}

.background-photo {
  width: 100%;
}

.connectHeader {
  padding: 20px;
  padding-top: 80px;
}

.connect {
  padding: 20px;
  padding-bottom: 1000px;
  background-color: blueviolet;
  border-radius: 25px;
}